@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fdfdfe;
  color: #faf8f8;
  line-height: 1.6;
}

.App {
  text-align: center;
  padding: 2% 5%;
  background-color: #707db4;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 1em;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 0 3px #ddd;
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
  box-shadow: inset 0 0 5px #666;
  outline: none;
}

#city-search {
  position: relative;
  width: 250px;
  margin: auto;
}

.suggestions {
  position: absolute;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  z-index: 2;
}

.suggestions>li {
  background: #eee;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background 0.3s ease;
}

.suggestions>li:last-child {
  border: none;
}

.suggestions>li:hover {
  background: #ddd;
}

.event {
  margin-bottom: 20px;
  padding: 20px;
  background: #294886;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.details-btn {
  padding: 5px 10px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.details-btn:hover {
  background: #218838;
}

input[data-testid="numberOfEventsInput"] {
  width: 2%;
  /* or 20vw for 20% of the viewport width */
}